.contentNav{
    width: 100%;
    padding: .5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 230, 0);
    position: sticky;
    top: 0;
    z-index: 100;
}

.contentNav nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contentNav button{
    border-radius: 1rem;
    font-weight: bold;
    font-size:medium;
    letter-spacing: .02rem;
    padding: 0.2rem 1rem;
}